/MANIFEST
/VERSION
/webcleaner-*.tar.gz
/webcleaner-*.win32-py2.4.exe
/*.asc
/build
/locale
/share
/*-stamp
/*.cdbs-orig
/_webcleaner2_configdata.py
/downloads
/extracted
/webcleaner-md5sums.txt
/*.prof
/*.log*
/stamp-h
/stamp-h1
/stamp-h.in
/webcleaner.err*
/acconfig.h.tmp
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.tmp
/config.status
/config.sub
/configure
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/depcomp
/localconfig
/dist
/coverage
/python-build-stamp-2.4
*.pyc
*.pyo
*.o
*.lo
*.la
*~
*.so
.deps
.libs
Makefile
Makefile.in
