include README COPYING CREDITS TODO INSTALL ChangeLog
include crossbuild.sh
include webcleaner
include install-webcleaner.py
include install-rpm.sh
include autogen.sh
include webcleaner-certificates
include doc/en/webcleaner.1
include doc/en/webcleaner.conf.5
include doc/en/webcleaner-certificates.1
include doc/de/webcleaner.1
include doc/de/webcleaner.conf.5
include doc/de/webcleaner-certificates.1
include config/Makefile
include config/proxy.pac
include config/*.txt
include config/*.zap
include config/*.conf
include config/*.dtd
include config/*.py
include config/magic.mime
recursive-include config/blacklists *.gz
include config/blacklists/README
include templates/converttowinicon
include templates/classic/*.html
include templates/classic/*.txt
include templates/classic/*.png
include templates/classic/*.ico
include templates/classic/*.js
include templates/classic/*.css
include templates/classic/*.xcf
include templates/classic/blocked.*
include templates/classic/macros/*.html
include test/*.py
include test/*.pot
include test/*.po
include test/Makefile
include test/logging.conf
include test/pycheckrc
include test/rating/rating.txt
include test/filter/misc.zap
include test/config/*.zap
include test/config/*.conf
include test/config/*.mime
recursive-include test/config/blacklists *.gz
include test/config/blacklists/README
include scripts/*.sh
include scripts/*.bat
include tests/*.py
include tests/magic/*.py tests/magic/*.html
include tests/filter/*.py
recursive-include tests/proxy *.py
include tests/proxy/README
include test*.py
include po/*.po
include po/*.pot
include tests/dns/example*
include wc/dns/ChangeLog
include wc/HtmlParser/*.h
include wc/HtmlParser/htmllex.l
include wc/HtmlParser/htmlparse.y
include wc/HtmlParser/Makefile
include wc/HtmlParser/fixincludes.awk
