include MANIFEST.in
include README
include TODO
include cross-build.sh
include webcleaner
include webcleaner-service
include webcleaner-certificates
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/logging.conf
include debian/po/*.po
include debian/po/*.pot
include debian/po/*.in
include debian/rules
include debian/watch
include debian/webcleaner-ctl
include debian/webcleaner-ctl.1
include debian/webcleaner-common.dirs
include debian/webcleaner-common.files
include debian/webcleaner.config
include debian/webcleaner.dirs
include debian/webcleaner.docs
include debian/webcleaner.examples
include debian/webcleaner.linda
include debian/webcleaner.links
include debian/webcleaner.lintian
include debian/webcleaner.manpages
include debian/webcleaner.postinst
include debian/webcleaner.postrm
include debian/webcleaner.preinst
include debian/webcleaner.prerm
include debian/webcleaner.templates
include webcleaner.1
include webcleaner.conf.5
include webcleaner-certificates.1
include config/proxy.pac
include config/*.txt
include config/*.zap
include config/*.conf
include config/*.dtd
include config/*.py
include config/magic.mime
recursive-include config/blacklists *.gz README
include templates/classic/*.html
include templates/classic/*.txt
include templates/classic/*.png
include templates/classic/*.js
include templates/classic/*.css
include templates/classic/*.xcf
include templates/classic/blocked.*
include templates/classic/macros/*.html
include test/*.py
include test/*.sh
include test/*.pot
include test/*.po
include test/Makefile
include test/pycheckrc
include test/rating/rating.txt
include bk/HtmlParser/htmllex.l
include bk/HtmlParser/htmlparse.y
include bk/HtmlParser/*.h
include bk/HtmlParser/s_util.c
include bk/HtmlParser/Makefile
include bk/tests/*.py
include bk/net/tests/*.py
include wc/magic/tests/*.py
include wc/magic/tests/*.html
include wc/filter/tests/*.py
include wc/proxy/tests/*.py
include wc/proxy/auth/tests/*.py
recursive-include wc/webgui/simpletal/tests *.py
include test*.py
include po/*.po
include po/*.pot
include po/*.py
