include MANIFEST.in guruguru.bmp
include INSTALL LICENSE README TODO
include draft-luotonen-web-proxy-tunneling-01.txt
include Makefile webcleaner webcleanerconf webcleaner.bat webcleanerconf.bat
include wcheaders.bat wcheaders
include debian/changelog debian/conffiles debian/config debian/control
include debian/webcleaner.dirs debian/webcleaner.docs
include debian/webcleaner.init debian/webcleaner.postinst
include debian/webcleaner.links debian/webcleaner.logrotate
include debian/webcleanerconf.postinst debian/webcleanerconf.prerm
include debian/webcleaner.postrm debian/webcleaner.prerm
include debian/rules debian/templates debian/copyright
include filtertest filtertest.html
include webcleaner.1 webcleanerconf.1 webcleaner.conf.5 wcheaders.1
include rpm_build_script
include config/*.txt config/*.zap config/*.conf config/*.dtd config/*.gif
include config/*.png config/*.html
include test/*.py test/output/test_*
exclude _webcleaner2_configdata.py
