<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" tal:attributes="lang lang">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title i18n:translate="">Page blocked by %(AppName)s</title></head>
<body bgcolor="#ffffff">
<h1 i18n:translate="">Page blocked by %(AppName)s</h1>
<p i18n:translate="">The content of this page is blocked by rule %(rule)s</p>
<p>
<a i18n:translate="" href="#" target="_top"
 tal:attributes="href string:${baseurl}filterconfig.html.${lang}?selfolder=${selfolder}&selrule=${selrule}"
>Configure rule %(rule)s.</a>
</p>
</body>
</html>
