<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" tal:attributes="lang lang">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="wc.css" type="text/css" rel="Stylesheet">
<link href="/" rel="home" title="Home">
<title i18n:translate="">Feedback for %(AppName)s</title>
</head>
<body>
<div metal:use-macro="macros/macros/nav">Navigation</div>
<div class="content" id="main">
<h2 i18n:translate="">Feedback for %(AppName)s</h2>
<p i18n:translate="">I wrote this software to get rid of advertisings. If you still see advert images
on pages you surf on, you are free to send me the url of those pages and I
will include filters to remove the adverts.
</p>
<p i18n:translate="">You can of course always add your own filter rules, they will not be
touched on a filter update.</p>
<p i18n:translate="">If you have any suggestions or comments about %(AppName)s, feel free to
email me at
<a href="mailto:calvin@users.sf.net">calvin@users.sf.net</a>.
</p>
</div>

<div metal:use-macro="macros/macros/footer">Footer...</div>
</body>
</html>
