<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title tal:content="t_title">WebCleaner Filter Configuration</title>
</head>
<body bgcolor="#ffffff">

<div tal:repeat="item info">
<span tal:replace="item">Info</span>
</div>

<div tal:repeat="item error">
<span tal:replace="item">Error</span>
</div>

<form action="filterconfig.html" method="POST">
<table>
<tr>
<td><big tal:content="t_folders">Folders</big></td>
<td><big tal:content="t_filters">Filters</big></td>
<td><big tal:content="t_rule">Rule</big></td>
</tr>
<tr valign="top">
<!-- folders -->
<td>
<div tal:repeat="folder folders">
<input type="checkbox" checked tal:condition="not:folder/disable"
 tal:attributes="name string:enablefolder${folder/oid}">
<input type="checkbox" tal:condition="folder/disable"
 tal:attributes="name string:enablefolder${folder/oid}">
<a href="#" tal:content="folder/title"
 tal:attributes="href string:filterconfig.html?selfolder=${folder/oid}">Scripting</a>
</div>
<br>
<input type="text" name="foldername" value="Folder name"
 tal:attributes="value t_foldername"
 size="10">
<input type="submit" name="newfolder" value="New folder"
 tal:attributes="value t_newfolder">
</td>
<!-- filter -->
<td>
<div tal:repeat="filt filters">
<input type="checkbox" checked tal:condition="not:filt/disable"
 tal:attributes="name string:enablefilter${filt/oid}">
<input type="checkbox" tal:condition="filt/disable"
 tal:attributes="name string:enablefilter${filt/oid}">
<a href="#">r</a>
<a href="#" tal:content="filt/title"
 tal:attributes="href string:filterconfig.html?selfolder=${curfolder/oid}&amp;;selfilter=${filt/oid}">On focus</a>
</div>
<br>
<select name="newruletype">
<option tal:repeat="rule ruletypes" tal:content="rule">Rewrite</option>
</select>
<input type="submit" name="newrule" value="New rule"
 tal:attributes="value t_newrule; title tt_newrule">
</td>
<!-- rule -->
<td>
<div tal:condition="curfilter">
<div tal:content="curfilter/desc">Rule description</div>
</div>
</td>
</tr>
</table>
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
<a href="/" tal:content="t_back">Back</a>
</form>
</body>
</html>
