<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title tal:content="t_title">WebCleaner Filter Configuration</title>
</head>
<body bgcolor="#ffffff">

<div tal:repeat="item info">
<span tal:replace="item">Info</span>
</div>

<div tal:repeat="item error">
<span tal:replace="item">Error</span>
</div>

<form action="filterconfig.html" method="POST">
<table>
<tr>
<td><big tal:content="t_folders">Folders</big></td>
<td><big tal:content="t_rules">Rules</big></td>
<td><big tal:content="t_rule">Rule</big></td>
</tr>
<tr valign="top">
<!-- folders -->
<td>
<div tal:repeat="folder config/folderrules">
<img tal:condition="folder/disable" src="disabled.png"
 tal:attributes="alt t_disabledfoldericon">
<img tal:condition="not:folder/disable" src="minifolder.png"
 tal:attributes="alt t_foldericon">
<b tal:omit-tag="not:folder/selected">
<a href="#" tal:content="folder/title"
 tal:attributes="href string:filterconfig.html?selfolder=${folder/oid}">Scripting</a>
</b>
</div>
<br>
<hr noshade size="1">
<input type="text" name="newfoldername" size="10"
 tal:attributes="value t_foldername">
<input type="submit" name="newfolder" value="New folder"
 tal:attributes="value t_newfolder">
</td>
<!-- rules -->
<td>
<div tal:condition="curfolder">
<input type="hidden" name="selfolder" tal:attributes="value string:${curfolder/oid}">
<div tal:repeat="rule curfolder/rules">
<img tal:condition="rule/disable" src="disabled.png"
 tal:attributes="alt t_disabledruleicon">
<img tal:condition="not:rule/disable" src="minidoc.png"
 tal:attributes="alt t_ruleicon">
<b tal:omit-tag="not:rule/selected">
<a href="#" tal:content="rule/title"
 tal:condition="not:curfolder/disable"
 tal:attributes="href string:filterconfig.html?selfolder=${curfolder/oid}&amp;;selrule=${rule/oid}">On focus</a>
<span tal:condition="curfolder/disable" tal:replace="rule/title">On focus</span>
</b>
</div>
<hr noshade size="1">
<input type="text" name="foldername" size="10"
 tal:attributes="value curfolder/title">
<input type="submit" name="renamefolder"
 tal:attributes="value t_renamefolder">
<br>
<input type="submit"
 tal:attributes="name string:removefolder${curfolder/oid}; value t_removefolder">
<br>
<input tal:condition="curfolder/disable" type="submit"
 tal:attributes="name string:enablefolder${curfolder/oid}; value t_enablefolder">
<input tal:condition="not:curfolder/disable" type="submit"
 tal:attributes="name string:disablefolder${curfolder/oid}; value t_disablefolder">
<br>
<select name="newruletype">
<option tal:repeat="rule newrulenames" tal:content="rule/capitalize"
 tal:attributes="value rule">Rewrite</option>
</select>
<input type="submit" name="newrule" value="New rule"
 tal:attributes="value t_newrule; title tt_newrule">
</div>
</td>
<!-- rule -->
<td>
<div tal:condition="currule">
<input type="hidden" name="selrule" tal:attributes="value string:${currule/oid}">
<span tal:repeat="rule rulenames" tal:omit-tag="">
<span tal:condition="ruletype/?rule" tal:omit-tag="">
<div metal:use-macro="rulemacros/macros/?rule">
Here is the rule configuration...
</div></span>
</span>
<hr noshade size="1">
<input type="submit"
 tal:attributes="name string:removerule${currule/oid}; value t_removerule">
<br>
<input tal:condition="currule/disable" type="submit"
 tal:attributes="name string:enablerule${currule/oid}; value t_enablerule">
<input tal:condition="not:currule/disable" type="submit"
 tal:attributes="name string:disablerule${currule/oid}; value t_disablerule">
</div>
</td>
</tr>
</table>
</form>
<br>
<a href="/" tal:content="t_back">Back</a>
</body>
</html>
