<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" tal:attributes="lang lang">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="wc.css" type="text/css" rel="Stylesheet">
<title tal:content="title">WebCleaner</title>
</head>
<body bgcolor="#ffffff">
<p class="skip"><a accesskey="2" href="#main"
 tal:content="t_skip_to_main">Skip to main content</a></p>
<div metal:use-macro="macros/macros/nav">Navigation</div>
<div class="content" id="main">
Welcome to the wonderful world of WebCleaner, the land of lounge lizards.
</div>

<div metal:use-macro="macros/macros/footer">Footer...</div>
</body>
</html>
