<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" tal:attributes="lang lang">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="wc.css" type="text/css" rel="Stylesheet">
<title i18n:translate="">%(AppName)s web interface main page</title>
</head>
<body>
<p class="skip"><a accesskey="2" href="#main"
 tal:content="t_skip_to_main">Skip to main content</a></p>
<div metal:use-macro="macros/macros/nav">Navigation</div>
<div class="content" id="main" i18n:translate="">Welcome to the wonderful
world of %(AppName)s, the land of lounge lizards.</div>

<div metal:use-macro="macros/macros/footer">Footer...</div>
</body>
</html>
