<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" tal:attributes="lang lang">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link href="wc.css" type="text/css" rel="Stylesheet">
<link href="index.html" rel="home" title="Home"
 tal:attributes="href string:index.html.${lang}">
<title i18n:translate="">PICS data for %(AppName)s</title>
</head>
<body>
<div metal:use-macro="macros/macros/nav">Navigation...</div>
<div class="content" id="main">
<p>XXX to be done...<span tal:replace="url">url</span></p>
</div>

<div metal:use-macro="macros/macros/footer">Footer...</div>
</body>
</html>
