body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: #fff7ee;/*#f7ebd3;*/
    margin: 0;
    padding: 0;
/* These work in IE only, changes the look of the scrollbar + textareas */
    scrollbar-base-color: #DEE7EC;
    scrollbar-highlight-color: #DEE7EC;
    scrollbar-track-color: #F7F9FA;
    scrollbar-darkshadow-color: #F7F9FA;
    scrollbar-3dlight-color: #8CACBB;
    scrollbar-shadow-color: #8CACBB;
    scrollbar-arrow-color: #436976;
}

.skip {
  display: none;
}

img {
  border: 0;
}

acronym {
    border-bottom: 1px dotted black;
}

label:hover {
    cursor: text;
}

a {
    color: #222222;
}

a:hover {
    color: black;
}

div.tabs {
    /* Navigational Plone Tabs(tm), implemented by customizing the a tag - they are surprisingly elegant. The power of CSS runs strong in these :) */
    background: transparent;
    border-collapse: collapse;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: #f86821;
    padding: 0em 0em 0em 2em;
    white-space: nowrap;
}

div.tabs a {
    /* The normal, unselected tabs. They are all links */
    color: #222222;
    background: transparent;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #f86821;
    font-weight: normal;
    /*height: 1.2em;*/
    margin-right: 1.5em;
    padding: 0em 0.5em;
    text-decoration: none;
}

div.tabs a.selected {
    /* The selected tab. There's only one of this */
    color: #222222;
    background: #f8c218;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #f85b0d;
    font-weight: normal;
}

div.tabs a:hover {
    color: black;
    background: #f8c218;
    border-color: #f85b0d;
}

div.content {
    /* the content container */
    padding: 1em 2em 1em 2em;
    color: #222222;
}

form {
    border: none;
    margin: 0;
}

.floating {
    float: left;
}

input.text {
    font-size: 85%;
    border: 1px solid #777777;
    color: Black;
    background: #fdf9f4;
    vertical-align: middle;
    margin-bottom: 1px; /* IE bug fix */
    padding: 0 0 0 0.1em;
    width: 180px;
}

input.number {
    font-size: 85%;
    border: 1px solid #777777;
    color: Black;
    background: #fdf9f4;
    vertical-align: middle;
    margin-bottom: 1px; /* IE bug fix */
    padding: 0 0 0 0.1em;
    width: 60px;
}

input.submit {
    font-size: 85%;
    color: #222222;
    background: transparent;
    vertical-align: middle;
    margin-bottom 1px;
    border: 1px dotted #f85b0d;
}

input.submit:hover {
    color: Black;
    background: #f8c218;
    cursor: pointer;
}

input.submit:focus {
    color: Black;
    background: #f8c218;
}

textarea {
    font-size: 85%;
    border: 1px solid #777777;
    color: Black;
    background: #fdf9f4;
    width: 88%;
    padding: 0.1em;
}

select {
    font-size: 85%;
    border: 1px solid #777777;
    color: Black;
    background: #fdf9f4;
    vertical-align: top;
    width: 180px;
}

.stable {
    padding: 0;
    margin: 0;
    border: 0;
}

div.info {
    margin-top: 1em;
}

div.error {
    margin-top: 1em;
    color: #f85b0d;
}

div.footnote {
    margin-top: 1em;
    color: #555555;
    text-decoration: overline;
    font-size: 70%;
}

div.footer {
    /* the footer container */
    padding: 1em 2em 1em 2em;
    color: #555555;
    text-align: right;
    font-size: 70%;
}
