Source: webcleaner
Section: web
Priority: optional
Maintainer: Bastian Kleineidam <calvin@debian.org>
Standards-Version: 3.6.1
Build-Depends: python (>= 2.3.1), python2.3-dev (>= 2.3.1), debhelper (>= 4.1.16), debconf (>= 1.2.9), gettext

Package: webcleaner
Architecture: any
Depends: python2.3 (>= 2.3.1), debconf (>= 1.2.9), python2.3-imaging, python2.3-crypto, runit, webcleaner-common (>= ${Source-Version}), python2.3-pyopenssl
Conflicts: python2.3-psyco (<< 1.1.1)
Suggests: python2.3-psyco, clamav-daemon
Description: a filtering HTTP proxy
 Features:
  * HTTP/1.1 support
  * HTTPS proxy CONNECT and optional SSL gateway support
  * integrated HTML parser, removes unwanted HTML (adverts, flash, etc.)
  * integrated JavaScript engine, allows popup filtering
  * detection and correction of known HTML security flaws
  * compress documents on-the-fly (with gzip)
  * disable animated GIFs
  * filter images by size, removes banner adverts
  * reduce images to low-bandwidth JPEGs
  * remove/add/modify arbitrary HTTP headers
  * usage of SquidGuard blacklists
  * antivirus filter module
  * Basic, Digest and (untested) NTLM proxy authentication support
  * per-host access control
  * configurable over a themable web interface

Package: webcleaner-common
Architecture: all
Suggests: webcleaner
Description: data files for the WebCleaner filtering HTTP proxy
 Included are HTML templates, images, and other architecture
 independent data files used by the webcleaner package.

