#! /usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
PYTHON=python2.2
PACKAGE=webcleaner
DOCDIR=debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)
PATCHED=debian/$(PACKAGE)/usr/lib/$(PYTHON)/site-packages/wc/gui/ConfWindow.py
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# use dpatch targets `patch' and `unpatch'
include /usr/share/dpatch/dpatch.make

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CONFIG_OPTS :=
CONFIG_PATHS := --prefix=/usr \
	--mandir=\$${prefix}/share/man \
	--infodir=\$${prefix}/share/info
CONFIG_DEB := --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE)

configure: configure.in
	./autogen.sh

configure-stamp: configure
	dh_testdir
	./configure $(CONFIG_DEB) $(CONFIG_PATHS) $(CONFIG_OPTS)
	touch configure-stamp

build: patch build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch build-stamp

clean: unpatch
	dh_testdir
	rm -f build-stamp configure-stamp
	$(PYTHON) setup.py clean --all
	-$(MAKE) clean
	$(MAKE) -C po clean
	find . -name '*.py[co]' | xargs rm -f
	rm -f index.html* test.gif
	dh_clean

install: build
	dh_testdir
	dh_clean -k
	dh_installdirs
	$(PYTHON) setup.py install --root=$(CURDIR)/debian/$(PACKAGE) --no-compile
	# delete man pages, we install them with dh_installmanpages
	rm -rf debian/$(PACKAGE)/usr/man
	# delete INSTALL file
	rm -f debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/INSTALL
	# move webcleaner binaries to /usr/sbin
	mv debian/$(PACKAGE)/usr/bin/webcleaner debian/$(PACKAGE)/usr/sbin
	mv debian/$(PACKAGE)/usr/bin/webcleanerconf debian/$(PACKAGE)/usr/sbin
	mv debian/$(PACKAGE)/usr/bin/wcheaders debian/$(PACKAGE)/usr/sbin
	rmdir debian/$(PACKAGE)/usr/bin
	# move config files
	mv debian/$(PACKAGE)/usr/share/webcleaner/config/* debian/$(PACKAGE)/etc/webcleaner/
	rmdir debian/$(PACKAGE)/usr/share/webcleaner/config
	# remove example files, we install them ourselves
	rm -rf debian/$(PACKAGE)/usr/share/webcleaner/examples


# Build architecture-independent files here.
binary-indep: build install
# nothing to do

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles --sourcedir=debian/$(PACKAGE) -pwebcleanertools \
            usr/sbin/webcleanerconf usr/sbin/wcheaders usr/lib/$(PYTHON)/site-packages/wc/gui/
	dh_installdebconf
	dh_installdocs
	dh_installexamples config/bl2wc.py
	dh_installmenu
#	dh_installlogrotate
	dh_installinit
#	dh_installcron
	dh_installman webcleaner.1 webcleaner.conf.5
	dh_installman -pwebcleanertools webcleanerconf.1 wcheaders.1
#	dh_installinfo
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
