#! /usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
PYTHON=python2.1
PACKAGE=webcleaner
DOCDIR = debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

# This has to be exported to make some magic below work.
export DH_OPTIONS

configure: configure-stamp
configure-stamp:
	dh_testdir
	$(PYTHON) setup.py config
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(PYTHON) setup.py build_ext --include-dirs=/usr/include/libxml2 build
	touch build-stamp

clean:
	dh_testdir
	rm -f build-stamp configure-stamp
	$(PYTHON) setup.py clean --all
	$(MAKE) -C po clean
	find . -name '*.py[co]' | xargs rm -f
	rm -f index.html* test.gif
	dh_clean

install: build
	dh_testdir
	dh_clean -k
	dh_installdirs
	$(PYTHON) setup.py install --root=$(CURDIR)/debian/$(PACKAGE) --no-compile
	# delete man pages, we install them with dh_installmanpages
	rm -rf debian/$(PACKAGE)/usr/man
	# delete INSTALL file
	rm -f debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/INSTALL
	# move webcleaner binaries to /usr/sbin
	mv -f debian/$(PACKAGE)/usr/bin/webcleaner debian/$(PACKAGE)/usr/sbin
	mv -f debian/$(PACKAGE)/usr/bin/webcleanerconf debian/$(PACKAGE)/usr/sbin
	mv -f debian/$(PACKAGE)/usr/bin/wcheaders debian/$(PACKAGE)/usr/sbin
	rmdir debian/$(PACKAGE)/usr/bin
	# remove example and config files, we install them ourselves
	rm -rf debian/$(PACKAGE)/usr/share/webcleaner
	# install configuration
	install -c -m 644 config/*.{html,zap,dtd,gif,png,conf} debian/$(PACKAGE)/etc/webcleaner
	# patch ConfWindow
	patch debian/$(PACKAGE)/usr/lib/$(PYTHON)/site-packages/wc/gui/ConfWindow.py debian/ConfWindow.patch


# Build architecture-independent files here.
binary-indep: build install
# nothing to do

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_movefiles --sourcedir=debian/$(PACKAGE) -pwebcleanertools \
            usr/sbin/webcleanerconf usr/sbin/wcheaders usr/lib/$(PYTHON)/site-packages/wc/gui/
	dh_installdebconf
	dh_installdocs
#	dh_installexamples filtertest filtertest.html
	dh_installmenu
	dh_installlogrotate
	dh_installinit
#	dh_installcron
	dh_installman webcleaner.1 webcleaner.conf.5
	dh_installman -pwebcleanertools webcleanerconf.1 wcheaders.1
#	dh_installinfo
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
