#!/bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0
db_capb backup

package=webcleaner

STATE=1 
while [ "$STATE" != 0 -a "$STATE" != 3 ]; do
    case "$STATE" in
    1)
        db_input medium $package/port || true
        ;;
    2)
        db_input high $package/adminpass || true
        ;;
    esac
    if db_go; then
        if [ "$STATE" != 2 ]; then
            STATE=$(($STATE + 1))
        else
            # accept only non-empty passwords
            db_get $package/adminpass
            if [ -n "$RET" ]; then
                STATE=$(($STATE + 1))
            else
                # the password is empty; unregister it to enforce a
                # redisplay of the question
                db_unregister $package/adminpass
            fi
        fi
    else
        STATE=$(($STATE - 1))
    fi
done
