#!/bin/bash -e
# debconf configuration file

. /usr/share/debconf/confmodule
db_version 2.0
db_capb backup

package=webcleaner

# check if admin password is not already set from a previous installation
if grep -qs 'adminpass=""' /etc/webcleaner/webcleaner.conf; then
    have_adminpass="no"
else
    have_adminpass="yes"
fi

STATE=1
while [ "$STATE" != 0 -a "$STATE" != 4 ]; do
    case "$STATE" in
    1)
        db_input medium $package/port || true
        ;;
    2)
        if [ "x$have_adminpass" = "xno" ]; then
            db_input high $package/adminpass || true
        fi
        ;;
    3)
        db_input low $package/control || true
        ;;
    esac
    if db_go; then
        if [ "$STATE" != 3 ]; then
            STATE=$(($STATE + 1))
        else
            # accept only non-empty passwords
            db_get $package/adminpass
            if [ -n "$RET" -o "x$have_adminpass" = "xyes" ]; then
                STATE=$(($STATE + 1))
                have_adminpass="yes"
            else
                # the password is empty; unregister it to enforce a
                # redisplay of the question
                db_unregister $package/adminpass
            fi
        fi
    else
        STATE=$(($STATE - 1))
    fi
done
