<html>
<body>

<!-- macro definitions for rule editing 
  Note: the TAL contexts from the calling templates are used here
 -->

<!-- title and description -->
<p metal:define-macro="titledesc">
<span tal:replace="t_ruletitle">Title</span>:
<input type="text" name="rule_title" value="Rule title"
 tal:attributes="value currule/title">
<br>
<span tal:replace="t_ruledescription">Description</span>:
<textarea name="rule_description" cols="50" rows="5"
 tal:content="currule/desc">Rule description</textarea>
</p>

<!-- matchurl and dontmatchurl -->
<p metal:define-macro="matchurl">
<span tal:replace="t_rulematchurl">Match URL</span>:
<input type="text" name="rule_matchurl" value="Match url"
 tal:attributes="value currule/matchurl">
<br>
<span tal:replace="t_ruledontmatchurl">Don't match URL</span>:
<input type="text" name="rule_dontmatchurl" value="Don't match url"
 tal:attributes="value currule/dontmatchurl">
</p>

<!-- url parts (AllowRule and BlockRule) -->
<p metal:define-macro="urlparts">
<span tal:replace="t_ruleurlscheme">URL scheme</span>:
<input type="text" name="rule_urlscheme" value="http"
 tal:attributes="value currule/scheme">
<br>
<span tal:replace="t_ruleurlhost">URL host</span>:
<input type="text" name="rule_urlhost" value="www.imadoofus.com"
 tal:attributes="value currule/host">
<br>
<span tal:replace="t_ruleurlport">URL port</span>:
<input type="text" name="rule_urlport" value="80"
 tal:attributes="value currule/port">
<br>
<span tal:replace="t_ruleurlpath">URL path</span>:
<input type="text" name="rule_urlpath" value="/hulla/bulla"
 tal:attributes="value currule/path">
<br>
<span tal:replace="t_ruleurlparameters">URL parameters</span>:
<input type="text" name="rule_urlparameters" value=""
 tal:attributes="value currule/parameters">
<br>
<span tal:replace="t_ruleurlquery">URL query</span>:
<input type="text" name="rule_urlquery" value=""
 tal:attributes="value currule/query">
<br>
<span tal:replace="t_ruleurlfragment">URL fragment</span>:
<input type="text" name="rule_urlfragment" value=""
 tal:attributes="value currule/fragment">
</p>

<!-- externfile (Allowdomains, Allowurls, Blockdomains, Blockurls) -->
<p metal:define-macro="externfile">
<span tal:replace="t_ruletitle">Title</span>:
<span tal:replace="currule/title">rule title</span>
<br>
<span tal:replace="t_ruledescription">Description</span>:
<span tal:replace="currule/desc">rule description</span>
<br>
<span tal:replace="t_rulefile">File</span>:
<span tal:replace="currule/file">/path/to/file</span>
</p>


<!-- AllowRule -->
<p metal:define-macro="allow">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/urlparts">
Rule url parts
</div>
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- Allowdomains -->
<p metal:define-macro="allowdomains">
<div metal:use-macro="rulemacros/macros/externfile">
Extern file name
</div>
</p>

<!-- Allowurls -->
<p metal:define-macro="allowurls">
<div metal:use-macro="rulemacros/macros/externfile">
Extern file name
</div>
</p>

<!-- Blockdomains -->
<p metal:define-macro="blockdomains">
<div metal:use-macro="rulemacros/macros/externfile">
Extern file name
</div>
</p>

<!-- Blockurls -->
<p metal:define-macro="blockurls">
<div metal:use-macro="rulemacros/macros/externfile">
Extern file name
</div>
</p>

<!-- BlockRule -->
<p metal:define-macro="block">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/urlparts">
Rule url parts
</div>
<span tal:replace="t_ruleblockedurl">Blocked URL</span>:
<input type="text" name="rule_blockedurl" value="http://www.calvinandhobbes.com/"
 tal:attributes="value currule/url">
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- HeaderRule -->
<p metal:define-macro="header">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<span tal:replace="t_ruleheadername">Header name</span>:
<input type="text" name="rule_headername" value="x-meta"
 tal:attributes="value currule/name">
<br>
<span tal:replace="t_ruleheadervalue">Header value</span>:
<input type="text" name="rule_headervalue" value=""
 tal:attributes="value currule/value">
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- ImageRule -->
<p metal:define-macro="image">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<span tal:replace="t_ruleimgwidth">Image width</span>:
<input type="text" name="rule_imgwidth" value="1"
 tal:attributes="value currule/width">
<span tal:replace="t_ruleimgheight">Image height</span>:
<input type="text" name="rule_imgheight" value="1"
 tal:attributes="value currule/height">
 <!-- XXX todo
<span tal:replace="t_ruleimgtype">Image type</span>:
<input type="text" name="rule_imgtype" value=""
 tal:attributes="value currule/type">
-->
<span tal:replace="t_ruleimgurl">Blocked image URL</span>:
<input type="text" name="rule_imgurl" value="myblocked.gif"
 tal:attributes="value currule/url">
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- JavascriptRule -->
<p metal:define-macro="javascript">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- NocommentsRule -->
<p metal:define-macro="nocomments">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- PicsRule -->
<p metal:define-macro="pics">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<span tal:replace="t_rulefallback">Fallback URL</span>:
<input type="text" name="rule_fallback" value="http://www..."
 tal:attributes="value currule/url">
<br>
<!-- XXX more config -->
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- ReplaceRule -->
<p metal:define-macro="replace">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<span tal:replace="t_rulesearch">Replace search regex</span>:
<input type="text" name="rule_search" value="A nasty word"
 tal:attributes="value currule/search">
<br>
<span tal:replace="t_rulereplace">Replacement</span>:
<input type="text" name="rule_replace" value="Something good"
 tal:attributes="value currule/replace">
<br>
<input type="submit" name="apply" value="Apply" 
 tal:attributes="value t_apply">
</p>

<!-- RewriteRule -->
<p metal:define-macro="rewrite">
<div metal:use-macro="rulemacros/macros/titledesc">
Rule title and description
</div>
<div metal:use-macro="rulemacros/macros/matchurl">
Rule (don't) match url
</div>
<span tal:replace="t_ruletag">Tag name</span>:
<input type="text" name="rule_tag" value="img"
 tal:attributes="value currule/tag">
<br>
<span tal:replace="t_ruleattrs">Attributes</span>:
<table border="1">
<tr>
<td></td>
<td tal:content="t_attrname">Name</td>
<td tal:content="t_attrval">Value</td>
</tr>
<tr tal:repeat="attr currule/attrs/keys">
<td><input type="checkbox" name="delattr"
 tal:attributes="value attr">
</td>
<td tal:content="attr"></td>
<td tal:content="currule/attrs/?attr"></td>
</tr>
</table>
<input type="submit" name="removeattrs" value="Remove selected"
 tal:attributes="value t_removeattrs">
<br>
<span tal:replace="t_attrname">Name</span>:
<input type="text" name="attrname" value="">
<br>
<span tal:replace="t_attrval">Value</span>:
<input type="text" name="attrval" value="">
<br>
<input type="submit" name="addattr" value="Add attribute"
 tal:attributes="value t_addattr">
<br>
<span tal:replace="t_enclosedblock">Enclosed block</span>:
<input type="text" name="rule_enclosedblock" value=""
 tal:attributes="value currule/enclosed">
<br>
<span tal:replace="t_replacepart">Replace part</span>:
<select name="rule_rewritepart">
<span tal:repeat="part partvalnames" tal:omit-tag="">
<option tal:condition="not:curparts/?part"
 tal:attributes="value part" tal:content="partnames/?part">a part</option>
<option tal:condition="curparts/?part" selected
 tal:attributes="value part" tal:content="partnames/?part">a part</option>
</span>
</select>
<br>
<span tal:replace="t_replacevalue">Replace value</span>:
<input type="text" name="rule_rewritereplacement" value=""
 tal:attributes="value currule/replacement">
<br>
<input type="submit" name="apply" value="Apply"
 tal:attributes="value t_apply">
</p>

</body>
</html>
